
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<br>
<br>
<div class="w3-container">
  <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Count Of Wickets Taken</h3>
    </header>
    <div class="w3-container">
      
<br>
 <p>  "I played 122 Tests alongside Sachin, I never threatened his place as a batsman but he threatened mine as a bowler. He was a natural with leg spin," This was said by none other than India's highest wicket-taker with 619 Test wickets and 337 ODI scalps, Mr. Anil Kumble.
<br>
  In 1990s, Tendulkar was used as a genuine bowling option many times in ODIs and Tests. He never let his team down. There were few times he would chip in with much needed breakthroughs. Though he went on to take couple of five wicket hauls, it is the manner in which he defended a mere 3 runs against the South Africans in the semi-finals of the Hero Cup in 1993 that has done on to become a reference point over the years. It proves that great cricketers like Sachin Tendulkar will go on to excel, whatever the obstacles, irrespective of the tasks they are asked to carry out.
</p>
<hr>
<div style="display: block;">
  <canvas baseChart
    [data]="polarAreaChartData"
    [labels]="polarAreaChartLabels"
    [legend]="polarAreaLegend"
    [chartType]="polarAreaChartType">
  </canvas>
</div>
<hr>
<b><i>"I played 122 Tests alongside Sachin, I never threatened his place as a batsman but he threatened mine as a bowler. He was a natural with leg spin," ---Mr. Anil Kumble.</i></b>
    </div>
    &nbsp;
    <i class="material-icons" style="color:red;">favorite</i>

    <button class="w3-button w3-block w3-light-grey"><mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field></button>
<!-- Backend of both leave  a comment and icon can be implemented -->
  </div>
</div>
