
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<br>
<br>
<div class="w3-container">
  <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Runs Scored In Different Innings</h3>
    </header>
    <div class="w3-container">
    <br>
 <p>  In the midst of all the constant adulation he has received over a significantly transitional period for cricket, commercially and otherwise, and in a sea of statistics that every Tendulkar-centric conversation attracts, it is sometimes easy to forget that he was perhaps the most complete batsman of his generation - one who combined natural talent with hard work and dedication; one who recognized the importance of shaping and polishing the diamond. This uncommon blend of dedication and ability made him stand out in the crowd, and made him the legend that is Sachin Ramesh Tendulkar. 
Tendulkar has been the single biggest factor behind the explosion of popularity that cricket enjoys in India which led to the Indian board becoming the richest and most powerful in world cricket.
</p>
<hr>
<div class="row">
  <div class="col-md-12">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<hr>
<b><i>Sachin is a formidable chaser.Absorbs the pressure brilliantly while batting second.</i></b>
    </div>
    &nbsp;
    <i class="material-icons" style="color:red;">favorite</i>

    <button class="w3-button w3-block w3-light-grey"><mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field></button>
<!-- Backend of both leave  a comment and icon can be implemented -->
  </div>
</div>

