
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<br>
<br>
<div class="w3-container">
  <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Half And Full Centuries Taken</h3>
    </header>
    <div class="w3-container">
    <br>
 <p>  
  Sachin Tendulkar, a man of short stature that carried the hopes, aspiration and dreams of the entire nation on a single bat.One of the most popular cricketers in Indian cricketing history, Tendulkar is also referred as ‘The God of Cricket’ in India.Such were the days back in time when Tendulkar single-handedly won matches for Team India. Mark Taylor, the captain of Australian Cricket Team in 1998 said, “We did not lose to a team called India...we lost to a man called Sachin.”, when his team lost the Chennai test as Tendulkar scored 155 unbeaten runs in the second innings. 
<br>
  Little Sachin made his debut when he was barely 16 years old. In less than a year, the 17-year old Tendulkar stunned the entire cricket kingdom with this feat. This was the very first century of his stupendous career - 119* not out!
</p>
<hr>
  <div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"></canvas>
</div>
<hr>
<b><i>“If I've to bowl to Sachin, I'll bowl with my helmet on. He hits the ball so hard.” — Dennis Lillee.
</i></b>
    </div>
    &nbsp;
    <i class="material-icons" style="color:red;">favorite</i>
    <button class="w3-button w3-block w3-light-grey"><mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field></button>
<!-- Backend of both leave  a comment and icon can be implemented -->
  </div>
</div>

