<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<br>
<br>
<div class="w3-container">
  <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Runs Scored In Each Year</h3>
    </header>
    <div class="w3-container">
   <b> Sachiiiiiiin, Sachin!</b>
    <br>
 <p>  You’ve heard the chant. You may not have heard of the sport, but you’ve heard the chant. The chant - one that a billion people once lived by one that would originate from the Wankhede and echo across the city and the seas. It is a name that continues to inspire many, not only in India, but all over the world, to take up the sport. Sachin Ramesh Tendulkar was that cricketer whose personality and aura upstaged any cricketing contest; yet he maintained that he wasn’t greater than than the game. To the people of India, the 5’5” giant of a man was much more than that. He was an emotion; a symbol of hope in a nation that revered him as nothing short of a God. 
</p>
<hr>
<canvas baseChart
    
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
</canvas>
<hr>
<b><i>I have seen God ,he bats at No 4 for India in tests -----Mathew Hayden</i></b>
    </div>
    &nbsp;
    <i class="material-icons" style="color:red;">favorite</i>
    <button class="w3-button w3-block w3-light-grey"><mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field></button>

  </div>
</div>