
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<br>
<br>
<div class="w3-container">
  <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Wickets And Runs Conceded In Every Match</h3>
    </header>
    <div class="w3-container">
    <br>
 <p>  
  Sachin has done incredibly well while bowling in One Day Internationals. He was an unorthodox bowler,the extravagant swing he got put many leg-spinners to shame at the time. The ball would often pitch on leg-stump and come back into the batsmen sharply. Tendulkar was less effective on wickets away from home. His medium pacers were cunning at best, but not enough to be a world beating one. Even with off-spin, Tendulkar effected sharp turn off the rough. There have been very few players in modern day cricket who have matched the bandwidth of the Little Master’s mastery in pulling off a variety of skills in the game’s spectrum with equanimity.
<br>
Sachin Tendulkar has been the most complete batsman of his time, the most prolific run maker of all time, and arguably the biggest cricket icon the game has ever known. He was such a great batsman that people would easily overlook the crucial roles he had played with the ball for India.
 </p>
<hr>   
 <div class="row">
  <div class="col-md-12">
    <div style="display: block">
      <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
<hr>
<b><i>When he failed with the bat, he delivered with the ball</i></b>
    </div>
    &nbsp;
    <i class="material-icons" style="color:red;">favorite</i>

    <button class="w3-button w3-block w3-light-grey"><mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field></button>
<!-- Backend of both leave  a comment and icon can be implemented -->
  </div>
</div>

