
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<br>
<br>
<div class="w3-container">

  <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Top 5 Grounds Where Sachin Scored Maximum</h3>
    </header>
    <div class="w3-container">
    <br>
 <p> 
  1998 was Tendulkar’s year as a batsman; a year when he played some of the most celebrated knocks in his career, including two of his most famous ODI innings. He scored a majestic 143 in the league stages of the Coca Cola Cup to get India into the final at Sharjah, and then scored 134 in the final against Australia to single-handedly take India past the finishing line. In the same year, he nearly pulled off another single-handed effort at Chennai, nearly pulling off a 4th innings chase against Pakistan whilst battling back spasms, before departing with India 17 runs short of victory. India went on to lose the match, but Tendulkar was the the man of the match for his breathtaking performance.
   </p>
  <hr> 
  <div style="display: block;">
  <canvas baseChart
    [data]="polarAreaChartData"
    [labels]="polarAreaChartLabels"
    [legend]="polarAreaLegend"
    [chartType]="polarAreaChartType">
  </canvas>
</div>
<hr>
<b><i>“Enjoy the game, chase your dreams because dreams do come true:” 
― Sachin Tendulkar</i></b>
    </div>
    &nbsp;
    <i class="material-icons" style="color:red;">favorite</i>

    <button class="w3-button w3-block w3-light-grey"><mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field></button>
<!-- Backend of both leave  a comment and icon can be implemented -->
  </div>
</div>

