
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<br>
<br>
<div class="w3-container">
  <div class="w3-card-4" style="width:100%">
    <header class="w3-container w3-light-grey">
      <h3>Runs Scored Against Opposition</h3>
    </header>
    <div class="w3-container">
    <br>
 <p>  
 After several performances of note at the domestic level, it was the popular opinion that Tendulkar was ready, at the tender age of 16, to be playing international cricket. He was picked in the Test squad to tour Pakistan in November 1989, and was slated to face some of the greatest fast bowlers of all time in their own backyard. Tendulkar, though not prolific with the bat as he was in the domestic level, had shown the toughness for hunger required for the international level by taking body blows and was retained in the Test side
</p>
<hr> 
  <div style="display: block">
  <canvas baseChart
              [data]="doughnutChartData"
              [labels]="doughnutChartLabels"
              [chartType]="doughnutChartType"></canvas>
</div>
<hr>
<b><i>
"In my several years of international cricket, Tendulkar remains the best batsman I have ever bowled to. It's been a pleasure to bowl at the master batsman even though one hasn't always emerged with credit from the engagements."---Allan Donald
</i></b>
    </div>
    &nbsp;
    <i class="material-icons" style="color:red;">favorite</i>

    <button class="w3-button w3-block w3-light-grey"><mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field></button>
<!-- Backend of both leave  a comment and icon can be implemented -->
  </div>
</div>

